<a href="https://colab.research.google.com/github/KeshriPooja/PythonCode/blob/master/Covid_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
import datetime
 
def date_range(start, end):
    r = (end+datetime.timedelta(days=1)-start).days
    return [start+datetime.timedelta(days=i) for i in range(r)]
 
start = datetime.date(2020,1,22)
end = datetime.date(2020,4,23)
dateList = date_range(start, end)
datelist = []
for i in dateList :
  datelist.append(i.strftime("%m-%d-%Y"))

In [0]:
list_data = []
for i in datelist : 
  try :  
    df = pd.read_csv('https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_daily_reports/{}.csv'.format(i))
    df['date'] = i
    list_data.append(df)
  except : 
    print(i+'not found')

In [0]:
covid_data= pd.concat(list_data,ignore_index= True)

In [76]:
covid_data[(covid_data['Country_Region']=='India') & (covid_data['Active']>1000)]

       Province/State Country/Region  ...   Active  Combined_Key
38336             NaN            NaN  ...   1117.0         India
40769             NaN            NaN  ...   1239.0         India
43252             NaN            NaN  ...   1792.0         India
45819             NaN            NaN  ...   2280.0         India
48443             NaN            NaN  ...   2303.0         India
51121             NaN            NaN  ...   2767.0         India
53882             NaN            NaN  ...   3260.0         India
56689             NaN            NaN  ...   4267.0         India
59546             NaN            NaN  ...   4740.0         India
62428             NaN            NaN  ...   5232.0         India
65338             NaN            NaN  ...   5879.0         India
68277             NaN            NaN  ...   6578.0         India
71242             NaN            NaN  ...   7189.0         India
74230             NaN            NaN  ...   7794.0         India
77232             NaN            NaN  ...   8914.0         India
80245             NaN            NaN  ...   9735.0         India
83271             NaN            NaN  ...  10485.0         India
86312             NaN            NaN  ...  11214.0         India
89357             NaN            NaN  ...  11825.0         India
92410             NaN            NaN  ...  12738.0         India
95482             NaN            NaN  ...  14202.0         India
98563             NaN            NaN  ...  14674.0         India
101654            NaN            NaN  ...  15460.0         India
104751            NaN            NaN  ...  16319.0         India
107863            NaN            NaN  ...  17344.0         India

[25 rows x 18 columns]